﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
   <fieldset>
       <legend>List Book</legend>
       <table cellpadding="2" cellspacing="2">
           <tr>
               <th>BookId</th>
               <th>Book Name</th>
               <th>ISBN</th>
           </tr>

           @foreach(var b in ViewBag.listBooks)
           {
               <tr>
                   <td>@b.BookId</td>
                   <td>@b.Title</td>
                   <td>@b.ISBN</td>
               </tr>
           }
       </table>
   </fieldset>
</body>
</html>
